extends layout 

block content 
    .w3-card-4
     header.w3-container.w3-blue
      h3.w3-left 
       if mode=="GET"
        | Register Student
       else 
        | Edit Student  
    .w3-container
     br
     form(action='/students', method='POST', id="form")
      if mode=="GET"
       label(class="w3-text-blue-gray")
        b Student Number:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="numero")    
       label(class="w3-text-blue-gray")
        b Name:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="nome")    
       label(class="w3-text-blue-gray") 
        b GitHub:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="git")           
       label(class="w3-text-blue-gray") 
        b Completed Homework Assignments:
        br
       - var n=1
       while n<9
        label(style="padding-left: 20px")
         input(type="checkbox", name=`tpc${n}`)
         |   
         | Assignment ##{n}
        br
        - n++
       br
       input(class="w3-btn w3-blue-grey" type="submit"  value="Register")                         
      else
       label(class="w3-text-blue-gray")
        b Student Number:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="numero", value=`${s.numero}`)    
       label(class="w3-text-blue-gray")
        b Name:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="nome", value=`${s.nome}`)    
       label(class="w3-text-blue-gray") 
        b GitHub:
       input(class="w3-input w3-border w3-light-grey", type="text",  name="git", value=`${s.git}`)           
       label(class="w3-text-blue-gray") 
        b Completed Homework Assignments:
        br
       - var n=1
       while n<9
        label(style="padding-left: 20px")
         if s.tpc[n-1]
          input(type="checkbox", name=`tpc${n}` checked) 
         else 
          input(type="checkbox", name=`tpc${n}`)
         |   
         | Assignment ##{n}
        br
        - n++
       br
       input(class="w3-btn w3-blue-grey" onclick=`sendPut('/students/${s.numero}')` type="button" value="Save")
      |  
      input(class="w3-btn w3-blue-grey" type="reset" value="Reset")
     br
    p(style="text-indent: 20px")
      a(href="/") Back  
    footer.w3-container.w3-blue
       p 
        br
    if mode=="PUT"
     script. 
      function sendPut(href){
        let body = {}
        let tpcs = []
        let i = 1
        elems = document.getElementById("form").elements
        body["id"] = elems["numero"].defaultValue
        body["numero"] = elems["numero"].value
        body["nome"] = elems["nome"].value
        body["git"] = elems["git"].value
        while (i < 9){
          tpcs.push(elems[`tpc${i}`].checked ? 1 : 0)
          i++
        }
        body["tpc"] = tpcs 
        let xhttp = new XMLHttpRequest();
        xhttp.open("PUT", href, true)
        xhttp.setRequestHeader("Content-Type", "application/json")
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.open();
            document.write(xhttp.responseText);
            document.close();
          }
        }
        xhttp.send(JSON.stringify(body))
      }     