extends layout

block content
    .w3-card-4
      header.w3-container.w3-blue
        h3.w3-left Students List (DAW2020)
      p(style="text-indent: 20px")
       a(href="/students/register") Register Student
      if list.length > 0
        .w3-container 
          table.w3-table-all
            tr 
              th(style="text-align: center; vertical-align: middle;") Photo
              th(style="text-align: center; vertical-align: middle;") Number
              th(style="text-align: center; vertical-align: middle;") Name
              th(style="text-align: center; vertical-align: middle;") Git
              th(style="text-align: center; vertical-align: middle;")
            each s in list
              tr
                td(style="text-align: center; vertical-align: middle;") 
                 if s.photo 
                  img(src=`/public/images/${s.photo}`, alt="Not Available", style="width:255px;height:255px;")
                 else 
                  img(alt="Not Available", style="width:255px;height:255px;") 
                td(style="text-align: center; vertical-align: middle;")
                 a(href=`/students/${s.numero}`) #{s.numero}
                td(style="text-align: center; vertical-align: middle;")= s.nome
                td(style="text-align: center; vertical-align: middle;")= s.git
                td(style="text-align: center; vertical-align: middle;")
                 a(href=`/students/edit/${s.numero}`)
                  input(class="w3-btn w3-blue-grey" type="button" value="EDIT")
                 |  
                 input(class="w3-btn w3-blue-grey" type="button" value="DELETE", onclick=`sendDelete('/students/${s.numero}')`)
      else
        .w3-container
          p There are no students...
      p    
      footer.w3-container.w3-blue
       p 
        br 
    script. 
     function sendDelete(href){
        let xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", href, true);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.open();
            document.write(xhttp.responseText);
            document.close();
          }
        }
        xhttp.send();
     }
  
